body{color:#3e3e3e;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner-first{
     height:600px;
    margin-top: 180px;
   
}

.half-length{
    width:40%;
    margin-left: 8%;
    float: left;
}
h1{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 80px;
    margin: 0px;
    color: #363958;
    font-weight: 500;
}
.name-highlight{
    color:#FF8367;
}
p span{color:#FF8367;
    text-transform: capitalize;}
.link-button{
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    background-image:linear-gradient(90deg, #FF8063, #F46060);
    padding: 20px 60px;
    border-radius: 5px;
    display: inline-block; /*should be checked in the course*/
}
.half-length img{
    width: 80%;
    height: 80%;
   
 

}

.banner-second{
  
    height:600px;
    margin-bottom: 200px;
}
.banner-second .half-length h1{
    padding-top: 50px;
    }
.latest-project-background{
    background-color: #F8F9FC;
   
    margin-bottom: 200px;
    height: 900px;
    padding-top: 100px;
}
.latest-projects{
    width: 90%;
    height:800px;
    margin: 0px auto;
    }

.latest-projects h3{
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    text-transform: uppercase;
    text-align: center;
    font-size: 64px;
   
   
    
}
.latest-projects h3 span{
    color: #f46060;;
}
.project{
    width: 30%;
    margin-left:2.5%;
    float:left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 40px gray;
 

}
.project-content{
    padding: 15px;
  
}

.project img{
    width: 100%;
}
.work-inquiry-area{
     margin: 0px auto;
    width: 64%;   
    background-image: url(images/Group_33094_1.png);
     background-size:contain;
     background-repeat: no-repeat;
     height: 300px;
}
.inquiry-part-one{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-weight: 700;
    font-size: 64px;
  
    width: 55%;
    float: left;
    padding-left: 100px;
    margin-top: 25px;
    
}
.inquiry-part-two{
       width: 30%;
    float: left;
    }
    .inquiry-part-two .link-button{
        margin: 110px ;
    }
    .review{width: 80%;
        margin: 100px auto;
        font-size: 72px;
        text-align: center;
        background-color: white;
        height: 500px;
        box-shadow: 1px 1px 10px grey;
        border-radius: 510px;
    }
    .review img{
        width: 30%;
        height: 30%;
        border-radius: 50%;
    }
    .review-half{
        width: 45%;
        float: left;
        font-size: 32px;
    }
.footer{
    text-align: center;
   
}
.footer h4, .footer h2{
    margin: 0px 0px;
}
.footer h4{
    color: #696871;
   
}